<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>chatApp</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet" />

        <link rel="stylesheet" href="./css/general.css" />
        <link rel="stylesheet" href="./css/chat.css" />

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script defer src="https://unpkg.com/mustache@latest"></script>
        <script defer src="/socket.io/socket.io.js"></script>
        <script defer src="./js/chat.js"></script>
        <script defer src="./js/friends.js"></script>
        <script defer src="./js/inbox.js"></script>
        <script defer src="./js/modal.js"></script>
        <script defer src="./js/request.js"></script>
        <script defer src="./js/search.js"></script>
    </head>
    <body>
        <div class="container">
            <header class="header neo-shadow-up">
                <nav class="main-nav">
                    <button class="nav-button inbox-icon">
                        <ion-icon class="nav-icon" name="chatbubble-outline"></ion-icon>
                    </button>
                    <button class="nav-button friends-icon">
                        <ion-icon class="nav-icon" name="people-outline"></ion-icon>
                    </button>
                    <button class="nav-button add-icon">
                        <ion-icon class="nav-icon" name="add-outline"></ion-icon>
                    </button>
                    <button class="nav-button request-icon">
                        <ion-icon class="nav-icon" name="person-add-outline"></ion-icon>
                    </button>
                </nav>
                <div class="profile-button-container"></div>
            </header>

            <section class="modal">
                <button class="close-modal">&times;</button>
                <div class="modal-data"></div>
            </section>

            <main class="main neo-shadow-down">
                <section class="section-first neo-shadow-up">
                    <div class="inbox">
                        <h1 class="heading-alt">INBOX</h1>
                        <div class="inbox-container output-container"></div>
                    </div>
                    <div class="friends">
                        <h1 class="heading-alt">FRIENDS</h1>
                        <div class="friends-container output-container"></div>
                    </div>
                    <div class="add-friend hidden">
                        <h1 class="heading-alt">ADD FRIEND</h1>
                        <form class="search">
                            <input class="search-field neo-shadow-down" type="text" placeholder="search..." />
                        </form>
                        <div class="search-result hidden">
                            <div class="search-result-container output-container"></div>
                        </div>
                    </div>

                    <div class="requests hidden">
                        <h1 class="heading-alt">REQUESTS</h1>
                        <div class="request-container output-container"></div>
                    </div>
                </section>

                <section class="section-message">
                    <div class="receiver neo-shadow-up"></div>

                    <div class="messages chat-messages"></div>

                    <div class="message-box">
                        <button class="down-arrow-button hidden">
                            <ion-icon class="down-icon" name="arrow-down-circle-outline"></ion-icon>
                        </button>
                        <form class="message-form">
                            <input class="message-field" type="text" placeholder="Type your message here..." />
                        </form>
                    </div>
                </section>
            </main>
        </div>

        <!-- Templates -->
        <script id="inbox-template" type="text/html">
            <button class="people-button inbox-button" name="\{{friend}}"> <div class="friend"> <div
            class="friend-photo-inbox"><div class="friend-photo neo-shadow-up"></div></div> <div class="name-message"> <p
            class="inbox-name">\{{friend}}</p> <div class="last-msg-container"> <p class="inbox-last-message">\{{sender}}&nbsp;\{{lastMessage}}</p>
            </div> </div> </div> </button>
        </script>

        <script id="friend-template" type="text/html">
            <button class="people-button" name="\{{user}}"> <div class="friend"> <div class="friend-photo neo-shadow-up"></div>
            <span class="friend-name">\{{user}}</span> </div> </button>
        </script>

        <script id="message-right-template" type="text/html">
            <div class="message-div message-right"> <div class="chat-text "> <p>\{{message}}</p> </div> </div>
        </script>
        <script id="message-left-template" type="text/html">
            <div class="message-div message-left"> <div class="message-photo "></div> <div class="chat-text"> <p>\{{message}}</p>
            </div> </div>
        </script>

        <script id="search-result-template" type="text/html">
            <button class="people-button" name="\{{user}}"> <div class="friend"> <div class="friend-photo neo-shadow-up"></div> <p
            class="friend-name">\{{user}}</p> </div> </button>
        </script>

        <script id="modal-template" type="text/html">
            <div class="user-data"> <h2 class="modal-header">\{{user}}</h2> </div>
        </script>

        <script id="delete-chat-template" type="text/html">
            <div class="delete-prompt"> <h2>Do you want to delete this chat?</h2> <div class="delete-buttons"> <button
            class="yes-button neo-shadow-up">Yes</button> <button class="no-button neo-shadow-up">No</button> </div> </div>
        </script>

        <script id="modal-button-template" type="text/html">
            <button class="modal-button add-button neo-shadow-up"> <span>Add</span> <ion-icon class="add-icon"
            name="person-add-outline"></ion-icon> </button> <p class="sent-req-prompt hidden">sent request!!!</p>
        </script>

        <script id="modal-friend-template" type="text/html">
            <p>Friends!!!</p> <button class="modal-button neo-shadow-up unfriend-button"><span>Unfriend</span></button>
        </script>

        <script id="request-template" type="text/html">
            <button class="people-button request-button" name="\{{user}}"> <div class="friend"> <div class="friend-photo
            neo-shadow-up"></div> <p class="friend-name">\{{user}}</p> </div> </button>
        </script>

        <script id="reject-button-template" type="text/html">
            <button class="modal-button add-button neo-shadow-up"> <span>Accept</span> <ion-icon class="add-icon"
            name="person-add-outline"></ion-icon> </button> <button class="modal-button reject-button neo-shadow-up">
            <span>Reject</span> <ion-icon class="add-icon" name="close-outline"></ion-icon> </button>
        </script>

        <script id="inbox-user-template" type="text/html">
            <div class="inbox-user"> <div class="inbox-photo neo-shadow-up"></div> <h2>\{{user}}</h2> </div> <div
            class="usernamediv-icons"> <button class="chat-delete-button inbox-button" name="\{{user}}"> <ion-icon
            class="chat-delete-icon" name="trash-outline"></ion-icon> </button> <button class="user-info-button inbox-button"
            name="\{{user}}"> <ion-icon class="user-profile-icon" name="information-circle-outline"></ion-icon> </button> </div>
        </script>

        <script id="down-arrow-template" type="text/html">
            <button class="down-arrow-button"> <ion-icon name="arrow-down-circle-outline"></ion-icon> </button>
        </script>

        <script id="profile-button-template" type="text/html">
            <button class="profile-button neo-shadow-up">\{{user}}</button>
        </script>

        <script id="profile-modal-template" type="text/html">
            <div class="user-data"> <p>\{{user}}</p> <p>Email:
            \{{email}}</p> </div> <button class="modal-button logout-button neo-shadow-up">Logout</button>
        </script>

        <div class="overlay hidden"></div>
    </body>
</html>